@import '../variables';

.container-accountSettings {
  margin: 40px auto;
  max-width: 1300px;
  height: 500px;
  background-color: $white01;
  border-radius: 28px;
  .list-settings {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    .list_item {
      cursor: pointer;
      display: inline;
    }
    .block-w {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 30px;
      margin: 0 auto;
      width: 50%;
      height: 50%;
      border: .5px solid $primaryGreen3;
      border-radius: 28px;
      label {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        .block-w__inpt {
          margin-top: 10px;
          width: 100%;
          border: .5px solid $primaryGreen4;
          border-radius: 10px;
          padding: 5px;
        }
      }
      .block-w__btn {
        margin-left: 10px;
        padding: 5px;
        text-align: center;
        width: 50%;
        background: $white01;
        border: .5px solid $primaryGreen4;
        border-radius: 10px;
      }
      .block-w__btn:hover {
        background: $primaryGreen3;
      }
      .block-w__btn:active {
        background: $primaryGreen;
      }
    }
  }
}