@import '../variables';
@import '../mixins';

.container-accounts {
  margin: 20px auto;
  background-color: $white01;
  padding: 20px;
  border-radius: 28px;
  max-width: 1300px;
  .block-account {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-radius: 28px;
    border: 0.5px solid $primaryGreen2;
    background: $white01;
    .block-account__image {
      border: .9px solid $secondaryGreen6;
      width: 95%;
      height: 210px;
      border-radius: 22px;
      aspect-ratio: 2;
      object-fit:cover;
      // mix-blend-mode:darken;
    }
    a {
      width: 100%;
      display: contents;
      .btn-more {
        @include btn-more();
        width: 91%;
      }
      .btn-more:hover {
        border-color: $primaryGreen2;
        .border-to-svg {
          background-color: $primaryGreen2;
        }
      }
      .btn-more:active {
        color: $primaryGreen;
        .border-to-svg {
          background-color: $white01;
          svg {
            border: 0.5px solid $primaryGreen;
            border-radius: 100px;
            path {
            fill: $primaryGreen;
            } 
          }
        }
      }
    }
  }
}