@import "../variables";

.container-header {
  margin: 0 auto;
  display: flex;
  max-width: 1300px;
  padding: 12px 28px;
  align-items: center;
  border-radius: 28px;
  background: $white01;
  .container-header__title {
    cursor: pointer;
    color: $primaryGreen;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .navigate {
    width: 100%;
    .navigate-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .block-w-link {
        display: flex;
        gap: 16px;
        margin-left: 20px;
        .block-w-link__list {
          border: 1px solid $primaryGreen;
          padding: 8px 20px;
          border-radius: 100px;
          cursor: pointer;
        }
        .hover {
          background-color: $primaryGreen;
          color: $white01;
        }
      }
      .navigate-list {
        display: flex;
        gap: 16px;
        color: $secondaryGreen7;
        cursor: pointer;
        .navigate-list__icon {
          border: 1px solid $black;
          display: flex;
          width: 40px;
          height: 40px;
          padding: 2px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 100%;
        }
      }
    }
  }
}