@import '../variables';
@import '../mixins';

.container-homePage {
  max-width: 1300px;
  margin: 24px auto 44px auto;
  .block-banner {
    background-color: $white01;
    display: flex;
    justify-content: center;
    gap: 49px;
    padding: 20px 20px 15px 36px;
    border-radius: 28px;
    @include banner();
    .block-w-img {
      @include image();
    }
  }
  .section-interesting {
    margin-top: 40px;
    .block-w-articles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .block-w-articles__title {
        margin-bottom: 8px;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
      .block-w-post-articles {
        display: flex;
        gap: 20px;
        @include block-post();
      }
    }
    .block-w-newAccounts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      .block-w-newAccounts__title {
        margin-bottom: 8px;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
      .block-w-post-accounts {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-top: 16px;
        .block-account {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          padding: 16px;
          border-radius: 28px;
          border: 0.5px solid $primaryGreen2;
          background: $white01;
          .block-account__image {
            width: 95%;
            height: 210px;
            border-radius: 22px;
            aspect-ratio: 3/2;
            object-fit: contain;
            // mix-blend-mode: color-burn;
          }
          a {
            width: 100%;
            display: contents;
            .btn-more {
              @include btn-more();
              width: 91%;
            }
            .btn-more:hover {
              border-color: $primaryGreen2;
              .border-to-svg {
                background-color: $primaryGreen2;
              }
            }
            .btn-more:active {
              color: $primaryGreen;
              .border-to-svg {
                background-color: $white01;
                svg {
                  border: 0.5px solid $primaryGreen;
                  border-radius: 100px;
                  path {
                  fill: $primaryGreen;
                  } 
                }
              }
            }
          }
        }
      }
    }
  }
}
