@import "../../app/styles/libs/mixins";
@import "../../app/styles/libs/variables";

.container-signUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  max-width: 100%;
  .container-signUp-form__title {
    color: $secondaryBlack;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .box-w-text {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: $primaryGreen;
    .box-w-text__text {
      color: $white01;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }
  .block-w-form {
    margin: 28px 0 44px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .block-w-form__text {
      margin-top: 16px;
      color: $secondaryBlack;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
    .block-w-form__inpt {
      margin-top: 8px;
      display: flex;
      width: 100%;
      padding: 16px 24px;
      justify-content: flex-start;
      border-radius: 100px;
      border: 1px solid $black2;
      background: $secondaryGreen5;
      box-sizing: border-box;
    }
    .error {
      margin-top: 8px;
      color: $black4;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
  .container-signUp-form__btn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: $white01;
    width: 100%;
    padding: 10px;
    border-radius: 28px;
    background: $primaryGreen;
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .container-signUp-form__text {
    margin-bottom: 16px;
  }
  .container-signUp-form__link {
    color: $primaryGreen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration: underline;
  }
}

.container-registrationConfirmation {
  @include confirmed-RegistrationConfirmation();
}