@import '../mixins';
@import '../variables';

.container-userAccount {
  max-width: 1300px;
  margin: 16px auto 0 auto;
  .block-userName {
    width: 100%;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white01;
    border-radius: 28px;
    .block-userName__name {
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
  }
  .block-w-userMarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 24px;
    width: 100%;
    background-color: $white01;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    margin-top: 16px;
    .block-title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background-color: $primaryGreen;
      padding: 8px 24px;
      width: 20%;
      .block-title__title {
        color: $white01;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
    .block-mark {
      margin-top: 20px;
      width: 100%;
      padding: 0px 24px 20px 0px;
      border-bottom: .5px solid $primaryGreen;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      .block-w-info {
        width: 50%;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        .block-w-info__img {
          border-radius: 14px;
          width: 155px;
          height: 105px;
          aspect-ratio: 3/2;
          object-fit: contain;
        }
        .block-w-info__title {
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
      .block-w-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        width: 50%;
        .btn-more {
          @include btn-more();
          background-color: $secondaryGreen8;
          border: 1px solid $primaryGreen3;
          width: 35%;
        }
        .btn-delete {
          @include btn-delete();
          width: 35%;
        }
      }
    }
  }
}