@import "../../../app/styles/libs/mixins";
@import "../../../app/styles/libs/variables";

.container_userAccount {
  max-width: 1300px;
  margin: 16px auto 0 auto;
  .block_userName {
    width: 100%;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white01;
    border-radius: 28px;
    .block_userName__name {
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
  }
  .block_w_userMarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 45px 24px;
    width: 100%;
    background-color: $white01;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    margin-top: 16px;
    .block_title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background-color: $primaryGreen;
      padding: 8px 24px;
      width: 20%;
      .block_title__title {
        color: $white01;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
    .block_mark {
      margin-top: 20px;
      width: 100%;
      padding-bottom: 24px;
      border-bottom: .5px solid $primaryGreen;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      .block_w_info {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        justify-content: flex-start;
        a{
          width: 100%;
          flex: 1;
          display: inline-flex;
          align-items: center;
          gap: 16px;
        }
        .block_w_info__img {
          border-radius: 14px;
          width: 155px;
          height: 105px;
          object-fit: cover;
        }
        .block_w_info__title {
          text-transform: uppercase;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
      .block_w_btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        a {
          display: contents;
          .btn_more {
            width: 100%;
            @include btn_more();
            background-color: $secondaryGreen8;
            border: 1px solid $primaryGreen3;
          }
          .btn_more:hover {
            background-color: $secondaryGreen6;
            .border_to_svg {
            background-color: $primaryGreen2;
            }
          }
          .btn_more:active {
            background-color: $white01;
            .border_to_svg {
              background-color: $primaryGreen;
            }
          }
        }
        .btn_delete {
          width: 100%;
          @include btn-delete();
          background-color: $secondaryGreen5;
        }
        .btn_delete:hover {
          background-color: $primaryGreen4;
        }
        .btn_delete:active {
          background-color: $white01;
        }
      }
    }
    .block_mark:hover {
      .block_w_info {
        .block_w_info__title {
          color: $secondaryGreen7;
          text-decoration: underline;
        }
      }
    }
    .block_mark:active {
      .block_w_info {
        .block_w_info__title {
          color: $primaryGreen2;
          text-decoration: underline;
        }
      }
    }
  }
}