/* styles.module.scss */

/* Обнуление стилей для навигации и списка */
nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стили для элементов списка */
li {
  display: inline; /* Меняем отображение элементов списка на строчные */
  margin-right: 15px; /* Пример отступа между элементами списка */
}

/* Стили для ссылок из React Router */
/* Это пример; вы можете добавить дополнительные стили по своему усмотрению */
Link {
  text-decoration: none;
  color: blue; /* Цвет ссылок */
  /* Другие стили по вашему выбору */
}
