/* styles.module.scss */

/* Обнуление стилей для навигации и списка */


.header {
  background-color: #FAFAFA ;
  height: 72px;
  display: flex;
  //text-align: center;
  //justify-content: center;
  border-radius: 28px;
  padding: 0 28px;
  h1 {
    color: #579C73;
  }
}

nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  //justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  background-color: rgb(239, 228, 228);
  width: 100%;
}

/* Стили для элементов списка */
li {
 // display: inline; /* Меняем отображение элементов списка на строчные */
  margin-left: 15px; /* Пример отступа между элементами списка */
  background-color: rgb(255, 255, 255);
  padding: 10.5px 20px 10.5px 20px;
  border-radius: 100px;
  border: 1px solid #579C73;
}

li:last-child {
  position: relative; /* Установка позиции для абсолютного позиционирования изображения */

 // margin-left: 0; /* Убираем левый отступ у последнего элемента */
  background-color: transparent; /* Убираем фоновый цвет у последнего элемента */
  padding: 0; /* Убираем внутренние отступы у последнего элемента */
  border: none; /* Убираем границу у последнего элемента */
  border-radius: 0; /* Убираем скругление у последнего элемента, если оно задано */
  color:  #579C73;
  margin-left: auto;
  background-color: rgb(220, 255, 255);
  display: flex;
  //justify-content: center;
  align-items: center;

  img {
    margin-left: 15px;
  }
}
/* Стили для ссылок из React Router */
/* Это пример; вы можете добавить дополнительные стили по своему усмотрению */
Link {
  text-decoration: none;
  color: blue; /* Цвет ссылок */
  /* Другие стили по вашему выбору */
}
