// Переменные цветов для использования на страницах и компонентах

$black: #232323;
$black2: #E6E6E6;
$black4: #999999;
$blackBackground: #F5F5F5;
$white01: #FAFAFA;
$greenMain : #579C73;  // Главный цвет на сайте

$primaryGreen: #579C73;
$primaryGreen2: #37714F;
$secondaryGreen6: #C7DDD0;
$secondaryBlack: #2E2D2D;
$secondaryGreen5: #F3F7F5;
$secondaryGreen7: #409362;
$secondaryGreen8: #E6F0EA;





// $container-width: 90%;
// $duration: 0.15s;
