// Переменные цветов для использования на страницах и компонентах

$black: #232323;
$greenMain : #579C73;  // Главный цвет на сайте

$primaryGrean: #579C73;


// $container-width: 90%;
// $duration: 0.15s;
